@import "~src/assets/css/variables";

button {
  border: 0;
}

.button {
  font-size: 1.3rem;
  width: auto;
  height: 30px;
  border-width: 1px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 10px 12px -7px $primary-color;
  text-shadow: 0px 1px 0px $tertiary-color;

  &.primary {
    color: #fff;
    border-color: secondary-color;
    background: linear-gradient($secondary-hover-color, $secondary-color);
  }

  &.primary:hover,
  &:active {
    background: linear-gradient($secondary-color, $secondary-hover-color);
    outline: none;
  }

  &.secondary {
    color: $secondary-color;
    border: 1px solid $secondary-color;
    background: linear-gradient($tertiary-hover-color, $tertiary-color);
  }

  &.secondary:hover,
  &:active {
    background: linear-gradient($tertiary-color, $tertiary-hover-color);
    outline: none;
  }

  &.disabled {
    color: $disabled-color;
    border: 1px solid disabled-color;
    background: linear-gradient($tertiary-hover-color, $tertiary-color);
  }
}
.small {
  width: 100px;
}

.medium {
  width: 200px;
}

.large {
  width: 300px;
}

.auto {
  width: auto;
}
