<app-header></app-header>
<div class="card bg-white container-fluid mt-5 shadow">
  <form [formGroup]="articleForm">
    <mat-card>
      <br />
      <div class="form-group">
        <label for=""><h1>Título:</h1></label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="title"
          aria-describedby="helpId"
          placeholder="Digite o título do artigo"
        />
        <p
          *ngIf="
            articleForm.get('title')?.hasError('required') &&
            articleForm.controls['title']?.touched
          "
        >
          Favor digitar o título do artigo!
        </p>
      </div>
    </mat-card>

    <mat-card>
      <editor
        initialValue="Escreva seu artigo aqui."
        apiKey="51ltykau1m4rzm79j9kefwxyat167fwatnpx3loleiewq8jz"
        formControlName="body"
        [init]="{
          height: 300,
          menubar: true,
          plugins: [
          'print searchreplace autolink directionality visualblocks visualchars image imagetools link media codesample table charmap hr pagebreak nonbreaking advlist lists textcolor wordcount contextmenu colorpicker textpattern emoticons'
          ],
          toolbar:
          'formatselect | fontsizeselect | fontselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat emoticons'
        }"
      >
      </editor>
      <p
        *ngIf="
          articleForm.get('body')?.hasError('required') &&
          articleForm.controls['body']?.touched
        "
      >
        Favor escreva seu artigo!
      </p>
    </mat-card>
    <mat-card>
      <div class="form-group">
        <label for=""><h1>Categoria:</h1></label>
        <select
          class="form-control"
          name=""
          id=""
          formControlName="category"
          placeholder="Selecione uma categoria"
        >
          <option
            *ngFor="let category of listCategories"
            value="{{ category.id }}"
          >
            {{ category.title }}
          </option>
        </select>
      </div>
      <p
        *ngIf="
          articleForm.get('category')?.hasError('required') &&
          articleForm.controls['category']?.touched
        "
      >
        Favor selecionar uma categoria para o artigo!
      </p>
      <br />
      <app-button
        title="Publicar"
        type="primary"
        size="small"
        (click)="createArticle()"
      ></app-button>
    </mat-card>
  </form>
</div>
