<header>IMG</header>
<nav class="navbar navbar-expand-sm bg-navbar navbar-dark">
  <button
    class="navbar-toggler d-lg-none float-right mt-2"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse bg-navbar pl-4 pr-4"
    id="collapsibleNavId"
  >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="">
        <a class="nav-option pr-4" href="#"
          >HOME</a
        >
      </li>
      <li class="">
        <a class="nav-option pr-4" href="#">CATEGORIAS</a>
      </li>
      <li class="">
        <a class="nav-option pr-4" href="#">SOBRE</a>
      </li>
      <li class="">
        <a class="nav-option pr-4" href="#">PAINEL</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <img
        class="pr-4"
        src="../../../assets/icons/facebook.svg"
        width="26px"
        height="26px"
      />
      <img
        class="pr-3"
        src="../../../assets/icons/twitter.svg"
        width="34px"
        height="34px"
      />
      <img
        class=""
        src="../../../assets/icons/instagram.svg"
        width="22px"
        height="22px"
      />
    </div>
  </div>
</nav>
<hr>
