@import "~src/styles";



header {
  background-color: $bg-secondary;
  height: 200px;
}

li {
  padding-bottom: 2.5px;
}

a {
  font-size: 1.6rem;
  padding: 15px 15px 8px 15px !important;

}

hr {
  border-bottom: 0.5px solid $tertiary-color;
  background-color: $tertiary-color;
  margin: 0;
}

img {
  cursor: pointer;
}

.nav-option {
  color: $tertiary-color;
  text-decoration: none;
}


.bg-navbar {
  height: 44px;
  background-color: $bg-primary;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

.logout {
  color: #fff !important;
}

.router-link-active {
  color: $secondary-color;

}
