@import "../../../assets/css/variables.scss";

h1 {
  font-size: 2rem;
  font-weight: bold;
}

b {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  font-size: 1.3rem;

  &:hover {
    color: $secondary-color !important;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline !important;
  }
}
