<div>
  <mat-card class="container-fluid bg-white w-75 p-0 mt-4">
    <mat-card>
      <mat-card-title><h1>Tituloooooooooooo</h1></mat-card-title>
      <mat-card-subtitle
        ><p>Autor: Andrey Luiz Pereira</p>
        <p>Categoria: Web front</p>
      </mat-card-subtitle>
      <mat-card-content
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        explicabo a, ab cum nulla nisi laudantium? Et expedita eius beatae quia
        dolor impedit! Itaque, accusantium ea ab adipisci velit
        minus!</mat-card-content
      >
    </mat-card>
  </mat-card>
  <br />
</div>
