<div>
  <mat-card class="bg-light container-fluid">
    <app-button
      title="Nova Categoria"
      type="primary"
      size="small"
      [routerLink]="['/admin/panel-control/category/new']"
    ></app-button>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>TÍTULO</th>
          <th>SLUG</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of listCategories">
        <tr>
          <td>#{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.slug }}</td>
          <td>
            <app-button
              class="d-flex justify-content-center"
              title="Editar"
              type="primary"
              size="small"
              (click)="editCategory(item.id)"
            ></app-button>
          </td>
          <td>
            <app-button
              class="d-flex justify-content-center"
              title="Excluir"
              type="secondary"
              size="small"
              (click)="deleteCategory(item.id)"
            ></app-button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
