h1 {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 2.5px;
}

p {
  font-weight: bold;
  padding-top: 1.5px;
  color: red;
}

input, select {
  font-size: 1.2rem;
}

@media (max-width: 575px) {

  .card {
    padding: 0;
    max-width: 100%
  }
}

@media (min-width: 576px) {

  .card {
    max-width: 75%
  }
}
