<app-header></app-header>
<div class="bg-white main container-fluid p-0 shadow" style="margin-top: 40px; margin-bottom: 40px">
  <nav class="bg-white">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-link active pt-3"
        id="nav-home-tab"
        data-toggle="tab"
        href="#nav-home"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
        >Categorias</a
      >
      <a
        class="nav-link pt-3"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#nav-profile"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        >Artigos</a
      >
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <app-list-categories></app-list-categories>
    </div>
    <div
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
    <app-list-articles></app-list-articles>
    </div>
  </div>
</div>
