/* Background-colors */
$bg-primary: #131313;
$bg-secondary: #e2127A;

/* Colors */
$primary-color: #424242;
$secondary-color: #e2127A;
$tertiary-color: #ffffff;
$quaternary-color: #0066CC;

/* Hover/Active */
$secondary-hover-color: rgb(214, 10, 146);
$tertiary-hover-color: #e9e9e9;

/* disabled */
$disabled-color: rgb(180, 180, 180);
