html {
  margin: 0 auto;
}

h1 {
  font-size: 2.0rem;
  font-weight: bold;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
}

input {
  font-size: 1.2rem;
}

p {
  font-weight: bold;
  padding-top: 1.5px;
  color: red;
}


@media (max-width: 575px) {

  .card {
    max-width: 100%
  }
}

@media (min-width: 576px) {

  .card {
    max-width: 75%
  }
}
