<div>
  <mat-card class="bg-light container-fluid">
    <app-button
      title="Novo Artigo"
      type="primary"
      size="small"
      [routerLink]="['/admin/panel-control/article/new']"
    ></app-button>
    <br>
    <table class="table mt-1">
      <thead>
        <tr>
          <th>ID</th>
          <th>TÍTULO</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let article of listArticles">
        <tr>
          <td>#{{ article.id }}</td>
          <td>{{ article.title }}</td>
          <td>
            <app-button
              class="d-flex justify-content-center"
              title="Editar"
              type="primary"
              size="small"
              (click)="editArticle(article.id)"
            ></app-button>
          </td>
          <td>
            <app-button
              class="d-flex justify-content-center"
              title="Excluir"
              type="secondary"
              size="small"
              (click)="deleteArticle(article.id)"
            ></app-button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>



